$primary: #008AFF;
$secondary: #e4e4e4;
$textColorLight: #fff;
$textColorDark: rgb(29, 29, 29);
$bg: #fff; 
$fontFam1: "Poppins";
$boxShadow1: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$transition: all 150ms ease;