$primary: #008AFF;
$secondary: #e4e4e4;
$textColorLight: #fff;
$textColorDark: rgb(29, 29, 29);
$bg: #E0E5EC;
$bgWhite: #fff;
$fontFam1: "Poppins";
$boxShadow1: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$boxShadow2:rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
$boxShadowNeumorph: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px  rgba(255,255,255, 0.5);
$transition: all 150ms ease-in;