@import 'frequent';
@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontFam1;
  // outline: 1px solid #333;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #a4a4a4;
}


a {
  text-decoration: none;
  color: $primary;
}


.App {
  transition: $transition;
  @include flexBox;
  height: 100%;


  // navigation
  .navigation {
    position: sticky;
    width: 100vw;
    top: 0;
    z-index: 3;

    .header {
      padding: 1rem 1rem;
      border-bottom: 1px solid rgba(29, 29, 29, 0.1);
      @include flexBox($justifyContent: space-between);
      background-color: $bgWhite;
      box-shadow: $boxShadow1;

      ul {
        @include flexBox($colGap: 1rem);

        >li {
          list-style: none;
          font-size: 0.8rem;

          a {
            color: $textColorDark;
            padding: 0.5rem 0.8rem;
            border-radius: 5px;

            &:active,
            &:hover {
              color: $primary;
              cursor: pointer;
            }
          }

          .navlink-active {
            color: $primary;
          }
        }
      }
    }

    #progress-bar {
      --progress: 0;
      height: 5px;
      width: var(--progress);
      background-color: $primary;
      border-radius:3px ;
    }
  }

  //hero
  .hero {
    margin: 4rem 0 3.5rem;
    text-align: center;

    >h1 {
      font-weight: 600;
      font-size: 2rem;
      line-height: 2.2;
    }

    >p {
      color: $textColorDark;
      font-size: 1rem;
      margin: 0 1rem;
    }
  }

  // loader
  .loader-parent {
    @include flexBox($colGap: 2rem);

    .loader {
      width: 100%;
      border: 8px solid #f3f3f3;
      border-top: 8px solid $primary;
      border-radius: 50%;
      width: 80px;
      height: 80px;
      animation: spin 1s linear infinite;
    }

    .loader-dot {
      @include flexBox($colGap: 1.2rem);

      li {
        list-style: none;
        height: 1.5rem;
        width: 1.5rem;
        background-color: $primary;
        border-radius: 50%;

        //updown animation
        // animation: updown 600ms linear infinite alternate;

        //scale-updown animation
        animation: scale-updown 600ms linear infinite alternate;
      }

      li:nth-child(2) {
        animation-delay: 200ms;
      }

      li:nth-child(3) {
        animation-delay: 400ms;
      }


      @keyframes updown {
        100% {
          transform: translateY(2rem);
        }
      }

      @keyframes scale-updown {
        0% {
          transform: scale(0.5);
        }

        100% {
          transform: scale(1);
        }
      }
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }

  // footer
  .footer {
    box-shadow: $boxShadow1;
    padding: 2rem 0 2rem;
    margin-top: 5rem;
    @include flexBox($flexDirection: row, $justifyContent: space-evenly);
    width: 100vw;
    background-color: $bg;
    ;

    .top {
      @include flexBox($justifyContent: flex-start);
      font-size: 0.8rem;

      h1 {
        font-weight: 600;
        font-size: 1.3rem;
        text-transform: uppercase;
      }
    }

    .bottom {
      @include flexBox($justifyContent: flex-end, $colGap: 0rem);
      font-size: 0.8rem;
      transition: $transition;

      .links {
        @include flexBox();
        transition: $transition;
        margin-left: 1rem;

        a {
          @include flexBox();
          transition: $transition;
          border-radius: 50%;
          width: 2rem;
          height: 2rem;

          .footer-icons {
            color: $textColorDark;
            transition: $transition;
          }

          &:hover {
            transform: scale(1.1);
            box-shadow: $boxShadowNeumorph;
            background-color: $secondary;
          }
        }
      }
    }
  }

  // color-palette

  .palette-box {
    max-width: 13.5rem;
    border-radius: 20px;

    .palette {
      border-radius: 20px;
      @include flexBox($rowGap: 0, $colGap: 0);
      margin-bottom: 0.5rem;

      .palette-color {
        @include flexBox($justifyContent: space-between, $rowGap: 0.5rem);
        width: 100%;
        flex: 1 1 auto;
        padding: 0.9rem;
        transition: $transition;
        z-index: 1;


        &:hover .color-code,
        &:hover .icons {
          display: inline-block;
          color: $textColorLight;
        }


        .color-code {
          color: transparent;
          font-size: 0.9rem;
        }

        .icons {
          display: none;
          //  @include flexBox();

          a {
            color: $textColorLight;
            height: fit-content;
            margin: 0 0.5rem;

            .tintshade {
              transition: $transition;

              &:hover {
                transform: scale(1.1);
              }
            }
          }

          .copy {
            transition: $transition;

            &:hover {
              transform: scale(1.1);
              cursor: pointer;
            }
          }
        }

        &:hover {
          z-index: 2;
          transform: scale(1.2);
        }
      }

      .palette-color:nth-child(1) {
        border-radius: 15px 15px 0 0;
      }

      .palette-color:nth-child(5) {
        border-radius: 0 0 15px 15px;
      }
    }

    .palette-bottom {
      padding: 0 10px;
      @include flexBox($justifyContent: space-between);

      button {
        @include flexBox($justifyContent: flex-start, $colGap: 0.5rem);
        z-index: 2;
        outline: none;
        border: none;
        padding: 6px 10px;
        border-radius: 5px;
        transition: $transition;
        background-color: $bgWhite;
        height: fit-content;
        font-size: 0.6rem;

        a {
          color: $textColorDark;
          background-color: transparent;
          height: 50%;
        }

        &:hover {
          background-color: rgb(187, 187, 187);
          // box-shadow: $boxShadowNeumorph;
          cursor: pointer;
        }
      }

      .more-info {
        @include flexBox;
        background-color: transparent;
      }
    }
  }

  //page-not-found
  .not-found-container {
    @include flexBox($flexDirection: column);

    h1 {
      font-size: 5rem;
      margin: 2rem 0 1rem;
    }

    .page-not-found {
      @include flexBox;

      h2 {
        border-right: 2px solid $primary;
        padding-right: 1rem;
        font-size: 1.2rem;
      }

      p {
        font-size: 0.8rem;
      }
    }

    .links {
      @include flexBox;

      button {
        border: 1px solid rgba(29, 29, 29, 0.288);
        border-radius: 5px;
        padding: 0.5rem 1rem;
        @include flexBox;
        background-color: transparent;
        transition: $transition;

        a {
          color: $bgWhite;
          transition: $transition;
        }

        &:hover {
          cursor: pointer;
          background-color: rgb(218, 218, 218);
          color: $textColorDark;
        }
      }

      button:nth-child(1) {
        color: $bgWhite;
        background-color: $primary;
        border: none;

        &:hover {
          background-color: rgb(218, 218, 218);
          color: $textColorDark;
          border: 1px solid rgba(29, 29, 29, 0.288);
        }

        &:hover a {
          color: $textColorDark;
        }

      }
    }
  }

  //palette-zoom

  .palette-container {
    @include flexBox($flexDirection: row, $justifyContent: flex-end);

    p {
      font-size: 0.8rem;
      font-weight: 600;
    }

    .likes {
      @include flexBox;
      border: 1px solid currentColor;
      padding: 0.5rem 0.9rem;
      margin-right: 2rem;
      font-size: 1rem;
      border-radius: 5px;

    }

    .palette-zoom {
      // background-color: green;
      @include flexBox($colGap: 0, $rowGap: 0);
      height: 80vh;
      width: 100vw;

      .zoom-palette-color {
        height: 100%;
        font-weight: 500;
        color: $textColorDark;
        flex: 1 1 0;

        >p {
          @include flexBox($colGap: 0, $rowGap: 0);
          color: $textColorLight;
          margin-top: 0.5rem;
          font-size: 1.2rem;
        }
      }

      .options {
        @include flexBox;
        height: 100%;

        .toolbar {
          @include flexBox;
          background-color: rgba(126, 126, 126, 0.511);
          width: 2.3rem;
          border-radius: 0.5rem;
          display: none;
          padding: 0.5rem;
          transition: $transition;

          li {
            @include flexBox;
            list-style: none;
            display: inline;


            svg {
              transition: $transition;
              margin: 0.5rem 0;

              &:hover {
                cursor: pointer;
                transform: scale(1.2);
              }
            }
          }
        }

        &:hover .toolbar {
          display: block;
        }

      }
    }

  }

  // home
  .home {
    .container {
      @include flexBox($rowGap: 4rem, $colGap: 4rem);
      margin: 100px 10vw;
    }

    .load-more-btn {
      border: 1px solid rgba(29, 29, 29, 0.288);
      border-radius: 5px;
      padding: 0.5rem 1rem;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      @include flexBox;
      background-color: transparent;

      &:hover {
        cursor: pointer;
        background-color: rgb(218, 218, 218);
      }
    }
  }


  //shade and tint page
  .tint-shade-container {

    form {
      @include flexBox($colGap: 0.5rem);
      // display: flex;
      // justify-content: center;
      // text-align: center;
      // column-gap: 0.51rem;

      .input-color {
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
        overflow: hidden;
        border: none;
        cursor: pointer;
      }

      .input-color::-webkit-color-swatch {
        border: none;
        border-radius: 50%;
        padding: 0;
      }

      .input-color::-webkit-color-swatch-wrapper {
        border: none;
        border-radius: 50%;
        padding: 0;
      }

      .input-text {
        border: 2px solid rgba(29, 29, 29, 0.288);
        border-radius: 5px;
        padding: 0.5rem 1rem;
        min-width: 40%;
        outline: none;

        &:active,
        &:focus-within,
        &:focus {
          border: 2px solid $primary;
        }
      }

      .input-btn {
        background-color: $primary;
        color: $textColorLight;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        cursor: pointer;
      }


      //second form

    }

    .set-tint-shade-count {
      @include flexBox;
      margin-top: 2rem;

      .tint-count,
      .shade-count {
        @include flexBox($flexDirection: row, $justifyContent: space-between, $colGap: -1rem, $rowGap: 0);
        min-width: 15rem;

        label {
          font-size: 0.8rem;
        }

        .input-number {
          border: 2px solid rgba(29, 29, 29, 0.288);
          border-radius: 5px;
          padding: 0.5rem 1rem;
          max-width: 4.5rem;
          outline: none;

          &:active,
          &:focus-within,
          &:focus {
            border: 2px solid $primary;
          }

        }
      }
    }

    .container {
      margin: 2rem;
      @include flexBox($flexDirection: column, $rowGap: 1rem, $colGap: 1rem);

      .title {
        width: 100%;

        h1 {
          margin: 0.5rem 2rem;
          font-weight: 600;
        }
      }

      .tint-color-box {
        @include flexBox($rowGap: 1rem, $colGap: 1rem);
        max-width: 50rem;

        .tint-color {
          position: relative;
          @include flexBox;
          height: 5rem;
          width: 7rem;
          border-radius: 10px;
          transition: $transition;

          .copy-icon {
            transition: $transition;
            color: $textColorDark;
            display: none;
            cursor: pointer;

          }

          .data {
            position: absolute;
            color: $textColorDark;
            bottom: 5px;
            font-size: 0.6rem;
            display: none;
          }

          &:hover .copy-icon,
          &:hover .data {
            display: block;
          }

          &:hover {
            box-shadow: $boxShadow1;
          }
        }
      }

      .shade-color-box {
        @include flexBox($rowGap: 1rem, $colGap: 1rem);
        max-width: 50rem;
        @include flexBox;

        .shade-color {
          transition: $transition;
          position: relative;
          @include flexBox;
          height: 5rem;
          width: 7rem;
          border-radius: 10px;

          .copy-icon {
            transition: $transition;
            color: $textColorLight;
            display: none;
            bottom: 3px;
            cursor: pointer;
          }

          .data {
            position: absolute;
            color: $textColorLight;
            bottom: 5px;
            font-size: 0.6rem;
            display: none;
          }

          &:hover .copy-icon,
          &:hover .data {
            display: block;
          }


          &:hover {
            box-shadow: $boxShadow2;
          }
        }

      }

    }
  }
}

// media queries

@media only screen and (max-width: 980px) {

  .App {
    .palette-container {
      .palette-zoom {
        @include flexBox($flexDirection: column, $colGap: 0, $rowGap: 0, $alignItems: stretch);
        width: 100vw;

        .zoom-palette-color {

          .options {
            @include flexBox;
            transition: $transition;

            .toolbar {
              @include flexBox($flexDirection: column);
              width: fit-content;
              transform: translateY(-50%);
              height: 2.3rem;
              display: none;

              li {
                @include flexBox;
                list-style: none;
                display: inline;
                padding: 0 1rem;

                svg {
                  transform: translateY(-40%);

                  &:hover {
                    cursor: pointer;
                    transform: translateY(-40%) scale(1.2);
                  }
                }
              }
            }

            &:hover .toolbar {
              display: block;
            }
          }
        }
      }
    }
  }
}