@import 'frequent';
@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontFam1;
  // outline: 1px solid #333;
}

a {
  text-decoration: none;
  color: $primary;

}

body {
  height: 100vh;
}

.App {
  // background-color: $primary;
  transition: $transition;
  @include flexBox($flexDirection: column, $justifyContent: space-between);
  height: 100%;

  // header
  .header {
    padding: 1rem 1rem;
    border-bottom: 1px solid rgba(29, 29, 29, 0.1);
    @include flexBox($justifyContent: space-between);
    box-shadow: $boxShadow1;
    background-color: #fff;
    position: sticky;
    width: 100vw;
    top: 0;

    >h3 {
      font-size: 2rem;

      >b {
        color: $primary;

      }
    }

    ul {
      @include flexBox($colGap: 2rem);

      >li {
        list-style: none;
        font-size: 1.1rem;

        a {
          color: $textColorDark;

          &:active,
          &:hover {
            color: $primary;
            cursor: pointer;
          }
        }
      }
    }
  }

  //hero

  .hero {
    margin: 12rem 0 10rem;
    text-align: center;

    >h1 {
      font-weight: 800;
      font-size: 2.5rem;
      line-height: 2.2;
    }

    >p {
      color: $textColorDark;
      font-size: 1.2rem;
    }

  }

  // loader
  .loader-parent {
    @include flexBox($colGap: 2rem);

    .loader {
      width: 100%;
      border: 10px solid #f3f3f3;
      /* Light grey */
      border-top: 10px solid $primary;
      /* Blue */
      border-radius: 50%;
      width: 120px;
      height: 120px;
      animation: spin 1s linear infinite;
    }

    .loader-dot {
      @include flexBox($colGap: 1.5rem);

      li {
        list-style: none;
        height: 2rem;
        width: 2rem;
        background-color: $primary;
        border-radius: 50%;
        //updown animation
        // animation: updown 600ms linear infinite alternate;
        //scale-updown animation
        animation: scale-updown 600ms linear infinite alternate;
      }

      li:nth-child(2) {
        animation-delay: 200ms;
      }

      li:nth-child(3) {
        animation-delay: 400ms;
      }


      @keyframes updown {
        100% {
          transform: translateY(2rem);
        }
      }

      @keyframes scale-updown {
        0% {
          transform: scale(0.5);
        }

        100% {
          transform: scale(1.3);
        }
      }
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }

  // footer
  .footer {
    box-shadow: $boxShadow1;
    padding: 2rem 0 2rem;
    margin-top: 5rem;
    width: 100%;

    .top {
      @include flexBox($justifyContent: flex-start);
      margin-left: 2rem;
      font-size: 1.2rem;

      h1 {
        font-weight: 500;
        font-size: 2rem;
      }
    }

    .bottom {
      @include flexBox($justifyContent: flex-end, $colGap: 2rem);
      font-size: 1.2rem;
      margin-right: 2rem;
      transition: $transition;

      .links {
        @include flexBox();
        transition: $transition;

        a {
          @include flexBox();
          transition: $transition;
          border-radius: 50%;
          width: 3rem;
          height: 3rem;
          background-color: $secondary;

          .footer-icons {
            color: $textColorDark;
            transition: $transition;

          }

          &:hover {
            scale: 1.2;
          }
        }
      }
    }
  }

  // color-palette

  .palette-box {
    // background-color: green;
    min-width: 170px;
    border-radius: 20px;

    .palette {
      min-height: 385px;
      border-radius: 20px;
      @include flexBox($rowGap: 0, $colGap: 0);
      max-width: 350px;
      margin-bottom: 1rem;

      .palette-color {
        @include flexBox();
        width: 100%;
        flex: 1 1 auto;
        padding: 1.7rem;
        height: fit-content;
        transition: $transition;
        border: 10px solid inherit;

        &:hover {
          transform: scale(1.1);
          cursor: pointer;
        }
      }

      .palette-color:nth-child(1) {
        border-radius: 20px 20px 0 0;
      }

      .palette-color:nth-child(5) {
        border-radius: 0 0 20px 20px;
      }
    }

    .palette-bottom {
      padding: 0 10px;
      @include flexBox($justifyContent: space-between, $colGap: 5rem);

      button {
        @include flexBox($justifyContent: flex-start, $colGap: 0.5rem);
        outline: none;
        border: none;
        padding: 6px 10px;
        border-radius: 5px;
        transition: $transition;
        background-color: rgb(235, 235, 235);

        a {
          color: $textColorDark;
          padding: 0;
          background-color: transparent;

        }

        &:hover {
          background-color: rgb(187, 187, 187);
        }

      }

      .more-info {
        background-color: transparent;

      }
    }
  }

  //page-not-found
  .not-found-container {

    .page-not-found {
      @include flexBox($flexDirection: row);
      // height: 100vh;
      overflow: auto;

      h2 {
        border-right: 4px solid $primary;
        padding-right: 1rem;
        font-size: 2rem;
      }

      p {
        font-size: 1.1rem;
      }
    }

    .links {
      @include flexBox;
      margin: 2rem;
      
      button {
        padding: 0.8rem 1.1rem;
        border-radius: 5px;
        background-color: $primary;
        border: none;
        box-shadow: $boxShadow1;
        
        a{
          color: $textColorLight;
        }
      }
    }
  }

  //palette-zoom

  .palette-container {
    @include flexBox($flexDirection: row, $justifyContent: flex-end);

    .likes {
      @include flexBox;
      border: 2px solid currentColor;
      padding: 1rem 1.5rem;
      margin-right: 30px;
      font-size: 1.1rem;
      border-radius: 20px;

    }

    .palette-zoom {
      // background-color: green;
      @include flexBox($colGap: 0, $rowGap: 0);
      height: 80vh;
      width: 100vw;
      margin-top: 1rem;

      .zoom-palette-color {
        height: 100%;
        font-size: 2rem;
        font-weight: 600;
        color: $textColorDark;
        flex: 1 1 0;

        >p {
          @include flexBox($colGap: 0, $rowGap: 0);
          color: $textColorLight;
          margin-top: 0.5rem;
          // -webkit-text-stroke-color: rgb(203, 203, 203);
          // -webkit-text-stroke-width: 0.8px;
        }
      }

      .options {
        @include flexBox();
        height: 100%;

        .toolbar {
          @include flexBox($flexDirection: row, $rowGap: 2rem, $colGap: 5rem);
          background-color: rgba(126, 126, 126, 0.511);
          width: 5rem;
          padding: 2rem 1rem;
          border-radius: 1rem;
          display: none;
          transition: $transition;


          li {
            list-style: none;
            @include flexBox;
            padding: 0.45rem;
          }

          svg {
            transition: $transition;

            &:hover {
              cursor: pointer;
              transform: scale(1.2);
            }
          }
        }

        &:hover .toolbar {
          display: block;
        }

      }

      @media only screen and (max-width: 980px) {
        @include flexBox($flexDirection: column, $colGap: 0, $rowGap: 0, $alignItems: stretch);
        width: 100%;

      }
    }

  }

  // home

  .home {
    .container {
      @include flexBox($rowGap: 4rem, $colGap: 4rem);
      margin: 100px 10vw;
    }
  }

}